<div class="row center-align flow-text">
    <div class="col s12">

        <% @games.each_with_index do |g, i| %>
            <div class="row">
                <div class="col s12 <%= if i % 2 == 0 then 'background' end %>">

                    <div class="row">
                        <div class="col s12">
                            Game <%= i + 1 %>
                            <span class="alert"><%= if g.tiebreaker == true then '(tiebreaker)' end %></span>
                        </div>

                        <!-- DATETIME -->
                        <div class="col s12">
                            <strong><%= game_day(g[:date]) %> <%= convert_military_to_ampm(g[:start_time]) %></strong>
                        </div>

                        <!-- LOCATION -->
                        <div class="col s12">
                            @ <%= g[:location] %>
                        </div>

                        <!-- BREAK -->
                        <div class="col s12"><br/></div>

                        <!-- TEAM MATCHUP  -->
                        <strong class="matchup-smaller-font">
                            <div class="col s5">
                                <%= g[:away] %>
                            </div>
                            <div class="col s2">
                                vs.
                            </div>
                            <div class="col s5">
                                <%= g[:home] %>
                            </div>
                        </strong>

                        <!-- TEAM LOGOS -->
                        <div class="col s5">
                            <%= image_tag g[:away] + '.png', :class => 'responsive-img' %>
                        </div>
                        <div class="col s2">
                            <!-- placeholder to match above 'vs.' -->
                        </div>
                        <div class="col s5">
                            <%= image_tag g[:home] + '.png', :class => 'responsive-img' %>
                        </div>

                        <!-- SPREAD -->
                        <div class="col s5 offset-s7 matchup-smaller-font">
                            Spread:
                            <strong>
                                <%= g[:spread] > 0 ? "+" : "" %><%= g[:spread] %>
                            </strong>
                        </div>

                        <!-- DELETE -->
                        <div class="col s12">
                            &nbsp;
                            <% if @active_week.locked == false %>
                                <form action="/admin/delete_game" role="form" method="POST">
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                    <input type="hidden" name="id" value="<%= g[:id] %>">
                                    <button class="waves-effect waves-light btn">Delete</button>
                                </form>
                            <% end %>
                        </div>
                    </div>

                </div>
            </div>
        <% end %>

    </div>
</div>