<script>
    $(".dropdown-button").dropdown();
    $('select').material_select();

    $('.datepicker').pickadate({
        selectMonths: true,
        closeOnClear: true,
        format: 'mm-dd-yyyy'
    });
</script>

<div class="row">
    <% if @game_added %>
        <div class="col s4 offset-s4 card-panel">
            <span class="blue-text text-lighten-2"><%= @game_added %></span>
        </div>
    <% else %>
        <div class="col s4 offset-s4">
            &nbsp;
        </div>
    <% end %>
</div>

<div class="col s4 offset-s4">
    <form action="/admin/add_new_game" role="form" id="add_new_game" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" value="<%= @active_week.week %>" name="game[week_id]">
        <input type="hidden" value="false" name="game[tiebreaker]">
        <input type="hidden" value="false" name="game[game_started]">

        <div class="input-field row">
            <label class="active">Away</label>
            <select name="game[away]" class="validate" required>
                <option disabled selected>Select Team</option>

                <% @teams.each do |away| %>
                    <option value="<%= away.name %>"><%= away.name %></option>
                <% end %>
            </select>
        </div>

        <div class="input-field row">
            <label class="active">Home</label>
            <select name="game[home]" class="validate" required>
                <option disabled selected>Select Team</option>

                <% @teams.each do |home| %>
                    <option value="<%= home.name %>"><%= home.name %></option>
                <% end %>
            </select>
        </div>

        <div class="input-field row">
            <label class="active">Spread</label>
            <input placeholder="+/-" id="spread" type="number" step="0.5" name="game[spread]" class="validate" required>
        </div>

        <div class="input-field row">
            <label class="active">Location</label>
            <input placeholder="Somewhere, USA" id="location" type="text" name="game[location]" class="validate" required>
        </div>

        <div class="input-field row">
            <label class="active">Game Day</label>
            <input type="date" class="datepicker" placeholder="Select Date" name="game[date]" required>
        </div>

        <div class="input-field row">
            <label class="active">Kickoff</label>
            <select name="game[start_time]" required>
                <option value="" disabled selected>All Times Must Be EST!</option>

                <% @times.each do |t| %>
                    <option value="<%= t %>"><%= convert_military_to_ampm(t) %></option>
                <% end %>
            </select>
        </div>

        <div class="row">
            <button class="waves-effect waves-light btn" action="submit">Add Game</button>
        </div>

        <div class="row">
            <% if @tiebreaker == 0  %>
                <input type="checkbox" id="tiebreaker" name="game[tiebreaker]"/>
                <label for="tiebreaker">Tiebreaker</label>
            <% end %>
        </div>
    </form>
    
</div>
