<div class="row">
  <div class="col s12" style="text-align:center;">
    <h5>Admin: Active Week</h5>
  </div>
</div>

<div class="row">
  <div class="col s12" style="text-align:center;">
    <div class="col s4" style="border: 1px black solid;"><span class="flow-text">Week: <%= @active_week.week %></span></div>
    <div class="col s4" style="border: 1px black solid;">
      <span class="flow-text">
        Status: <strong>
        <% if @active_week.locked == true %>
          Locked
        <% else %>
          <%= @games.count < 10 ? "Open" : "Max" %>
        <% end %></strong>
      </span>
    </div>
    <div class="col s4" style="border: 1px black solid;"><span class="flow-text">Game Count: <%= @games.count %></span></div>
  </div>
</div>

<div class="row">
  <div class="col s12">

    <div style="text-align:center">
      <% if @active_week.locked == true && !@current_week.finalized %>
        <form action="/admin/scores" role="form" method="GET">
          <button class="btn waves-effect waves-light" type="submit">Add Game Scores</button>
        </form>
      <% else %>
        <% if @games.count < 10 %>
          <a class="waves-effect waves-light btn" onclick="shepic.addGamePartial()" id="add_game_btn">Add Game</a>
        <% elsif !@current_week.finalized %>
          <form action="/admin/lock" role="form" method="GET">
            <button class="btn waves-effect waves-light" type="submit">Lock Week</button>
          </form>
        <% else %>
          <!-- TODO: user shouldn't be able to navigate here once the week is finalized -->
          <!-- but jic nothing displays... in Trello to review logic -->
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<% if @games.count < 10 %>
  <div class="row">
    <div id="add_game"><%= render "add_game" %></div>
  </div>
<% end %>

<div class="row"><div class="divider"></div></div>

<% @games.each do |g| %>
  <div class="row">
    <div class="col s12" style="border: 1px black solid; text-align:center">

      <div class="row">
        <div class="col s6" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong><%= g[:away] %></strong> vs. <strong><%= g[:home] %></strong></p>
        </div>
         <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong><%= g[:spread] %></strong></p>
        </div>
         <div class="col s3" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@</strong> <%= g[:location] %></p>
        </div>
         <div class="col s2" style="border: 1px black solid;">
          <% if @active_week.locked == false %>
          <form action="/admin/delete_game" role="form" method="POST">
            <input type="hidden" name="id" value="<%= g[:id] %>">
            <button class="waves-effect waves-light btn">Delete</button>
          </form>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col s6" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong><%= game_day(g[:date]) %></strong></p>
        </div>
        <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@</strong></p>
        </div>
        <div class="col s3" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong><%= g[:start_time] %></strong></p>
        </div>

        <% if g.tiebreaker == true %>
        <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center; color: red;"><strong>T</strong></p>
        </div>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

<div class="row"><div class="divider"></div></div>

