<div class="row">
  <div class="col s12" style="text-align:center;">
    <div class="col s4" style="border: 1px black solid;"><span class="flow-text">Week: <%= @current_week.week %></span></div>
    <div class="col s4" style="border: 1px black solid;"><span class="flow-text">Status: <%= @current_week.locked ? "Closed" : "Open" %></span></div>
    <div class="col s4" style="border: 1px black solid;"><span class="flow-text">Game Count: <%= @games.count %></span></div>
  </div>
</div>

<div class="row">
  <div class="col s12">

    <div style="text-align:center">
      <% if @current_week.locked == true %>
        <a class="waves-effect waves-light btn">Start New Week</a>
      <% else %>
        <a class="waves-effect waves-light btn" onclick="shepic.addGamePartial()" id="add_game_btn">Add Game</a>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div id="add_game"><%= render "add_game" %></div>
</div>

<% @games.each do |g| %>
  <div class="row">
    <div class="col s12" style="border: 1px black solid; text-align:center">

      <div class="row">
        <div class="col s6" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong><%= g[:away] %></strong> vs. <strong><%= g[:home] %></strong></p>
        </div>
         <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong><%= g[:spread] %></strong></p>
        </div>
         <div class="col s3" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@</strong> <%= g[:location] %></p>
        </div>
         <div class="col s2" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><a class="waves-effect waves-light btn">Edit</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col s6" style="border: 1px black solid;">
          <input type="date" class="col s6 offset-s3 datepicker" placeholder="Select Date">
        </div>
        <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@</strong></p>
        </div>
        <div class="input-field col s4">
            <select>
              <option value="" disabled selected>Start Time (EST)</option>
              <% @times.each do |t| %>
                <option value="<%= t %>"><%= t %></option>
              <% end %>
            </select>
        </div>
      </div>

    </div>
  </div>
<% end %>