<div class="row center-align flow-text">
    <div class="col s12">

        <div class="row">
            <div class="col s12">
                <h5>Admin: Lock Week</h5>
            </div>
        </div>

        <%= render 'status' %>

        <div class="row"><div class="divider"></div></div>

        <% if @games.count < 10 && @active_week.locked == false %>
            <div class="row">
                <div class="col s12">
                    <h5 class="alert">Warning!</h5>
                </div>
                <div class="col s12">
                    <h5>You have only selected <strong><%= @games.count %></strong> games this week.</h5>
                </div>
                <div class="col s12">
                    <h5><%= link_to "Return to Game Selection", admin_active_week_path %></h5>
                </div>
            </div>

            <div class="row"><div class="divider"></div></div>
        <% end %>

        <% if @tiebreaker == 0 %>
            <div class="row">
                <div class="col s12">
                    <h5 class="alert">Warning!</h5>
                </div>
                <div class="col s12">
                    <h5>You have not selected a <strong>Tiebreaker</strong> game.</h5>
                </div>
                <div class="col s12">
                    <h5><%= link_to "Return to Game Selection", admin_active_week_path %></h5>
                </div>
            </div>

            <div class="row"><div class="divider"></div></div>
        <% end %>

        <% if @active_week.locked == false %>
            <div class="row">
                <div class="col s12">
                    <p>Locking the Active Week prevents adding new games.</p>
                    <p>Users will be notified the current, final slate of games are available.</p>
                </div>
                <div class="col s12">
                    <form action="/admin/locked" role="form" method="POST">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <button class="btn waves-effect waves-light" type="submit">Lock Week</button>
                    </form>
                </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h6><%= link_to "Return to Game Selection", admin_active_week_path %></h6>
              </div>
            </div>
        <% else %>
            <div class="row">
                <div class="col s12">
                    <h5>This week is locked.</h5>
                </div>

                <div class="col s12">
                    <h5><%= link_to "Return to Game Selection", admin_active_week_path %></h5>
                </div>

                <div class="col s12">
                    <h5><%= link_to "Add Game Scores / Start New Week", admin_scores_path %></h5>
                </div>
            </div>
        <% end %>

    </div>
</div>