<div class="row center-align flow-text">
    <div class="col s12">

        <div class="row">
            <div class="col s12">
                <h5>Admin: Add Game Scores</h5>
            </div>
        </div>

        <form action="/admin/review" role="form" method="POST">
            <% @games.each_with_index do |g, i| %>
            <div class="row">
                <div class="col s12 <%= if i % 2 == 0 then 'background' end %>">

                    <div class="row">

                        <!-- 12 cols -->
                        <div class="col s12">
                            Game <%= i + 1 %>
                            <span class="alert"><%= if g.tiebreaker == true then '(tiebreaker)' end %></span>
                        </div>

                        <!-- 12 cols -->
                        <div class="col s12">
                            <strong><%= game_day(g[:date]) %> <%= convert_military_to_ampm(g[:start_time]) %></strong>
                        </div>

                        <!-- 12 cols -->
                        <div class="col s12">
                            @ <%= g[:location] %>
                        </div>

                        <!-- 12 cols -->
                        <!-- BREAK -->
                        <div class="col s12"><br/></div>

                        <!-- 12 cols -->
                        <!-- TEAM MATCHUP -->
                        <div class="col s12">
                            <strong><%= g[:away] %></strong> vs. <strong><%= g[:home] %></strong>
                        </div>

                        <!-- 12 cols -->
                        <!-- TEAM LOGOS -->
                        <div class="col s6">
                            <strong><img class="responsive-img" src="/assets/osu.png"></strong>
                        </div>
                        <div class="col s6">
                            <strong><img class="responsive-img" src="/assets/michigan.png"></strong>
                        </div>

                        <!-- 12 cols -->
                        <!-- ADD SCORE -->
                        <div class="col s3 offset-s2">
                            <select name="<%= g.id %>-away" required>
                                <% @points.each do |p| %>
                                <option value="<%= p %>"
                                    <%= if g.away_pts == p then "selected" end %>
                                    ><%= p %></option>
                                    <% end %>
                            </select>
                        </div>
                        <div class="col s3 offset-s2">
                            <select name="<%= g.id %>-home" required>
                                <% @points.each do |p| %>
                                <option value="<%= p %>"
                                    <%= if g.home_pts == p then "selected" end %>
                                    ><%= p %></option>
                                    <% end %>
                            </select>
                        </div>

                    </div>

                </div>
            </div>
            <% end %>

            <div class="row">
                <div class="col s12">
                    <button class="waves-effect waves-light btn" type="submit">Review Scores</button>
                </div>
            </div>
        </form>

    </div>
</div>
