<div class="row">
  <div class="col s12" style="text-align:center;">
    <h5>Admin: Add Game Scores</h5>
  </div>
</div>

<form action="/admin/finalize" role="form" method="POST">

  <div class="row">
    <div class="col s12" style="text-align:center;">
        <button class="waves-effect waves-light btn" type="submit">Finalize Scores</button>
    </div>
  </div>

  <div class="row">
    <div class="col s6" style="border: 1px black solid; text-align:center;">AWAY</div>
    <div class="col s6" style="border: 1px black solid; text-align:center;">HOME</div>
  </div>

  <div class="row"><div class="divider"></div></div>

  <% @games.each do |g| %>
    <% if g.tiebreaker == false %>
      <div class="row">
        <div class="col s12" style="border: 1px black solid; text-align:center;">

          <div class="row">
            <div class="col s4" style="border: 1px black solid;">
              <p><strong><%= g[:away] %></strong></p>
            </div>

            <div class="input-field col s2">
              <select name="<%= g.id %>-away">
              <% @points.each do |p| %>
                <option value="<%= p %>"><%= p %></option>
              <% end %>
              </select>
            </div>

            <div class="col s4">
              <p><strong><%= g[:home] %></strong></p>
            </div>

            <div class="input-field col s2">
              <select name="<%= g.id %>-home">
              <% @points.each do |p| %>
                <option value="<%= p %>"><%= p %></option>
              <% end %>
              </select>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row"><div class="divider"></div></div>

  <% @games.each do |g| %>
    <% if g.tiebreaker == true %>
      <div class="row">
        <div class="col s12" style="border: 1px black solid; text-align:center">

          <div class="col s7" style="border: 1px black solid;">
            <p style="display: inline block; text-align:center">
              Tiebreaker: <strong><%= g[:away] %></strong> vs. <strong><%= g[:home] %></strong>
            </p>
          </div>

          <div class="col s3" style="border: 1px black solid;">
            <p>Total Points:</p>
          </div>

          <div class="input-field col s2">
            <select name="<%= g.id %>-tbreak">
            <% @points.each do |p| %>
              <option value="<%= p %>"><%= p %></option>
            <% end %>
            </select>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row"><div class="divider"></div></div>

  <div class="row">
    <div class="col s12" style="text-align:center;">
      <button class="waves-effect waves-light btn" type="submit">Finalize Scores</button>
    </div>
  </div>

</form>

