<div class="row center-align">
    <div class="col s10 offset-s1">

        <h4>Resend unlock instructions</h4>

        <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :unlock_token %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Resend unlock instructions" %>
          </div>
        <% end %>

    </div>
</div>

<div class="row"><br/></div>

<%= render "devise/shared/links" %>
