<% if @games %>
  <% @games.each_with_index do |g, i| %>

    <div class="row">
      <div class="col s12">
        <div class="card grey lighten-3">
          <div class="card-content black-text">
            
            <div class="row">
              <%= render 'matchup_header', game: g, index: i %>
            </div>

            <!-- TEAM LOGO BUTTON/FORM SELECTION -->
            <div class="row">
              <%= render 'team_logo_form', game: g %>
            </div>

            <!-- SPREAD (prior to game start) -->
            <% if g[:game_started] == false %>
              <div class="row">
                <b><%= render 'spread', game: g %></b>
              </div>
            <% end %>

             <!-- MAKE SELECTION / YOUR PICK -->
            <div class="row"><strong>
              <%= render 'scoring', game: g %>
            </strong></div>

            <!-- TIEBREAKER -->
            <div class="row">
              <% if @current_week.locked == true && !@current_week.finalized %>
                <% if g[:tiebreaker] == true && g[:game_started] == false %>
                  <div class="col s6 offset-s3 tiebreaker">
                    <label><span style="color: black; font-size: 20px;">Tiebreaker - Total Points:</span></label>
                    <input id="tbreak-pts" type="number" value="<%= @tbreak_pts %>" onchange="tiebreaker()" min="0">
                    <input type="hidden" value="<%= current_user.id %>" id="tbreak-user-id">
                    <input type="hidden" value="<%= g[:id] %>" id="tbreak-game-id">
                  </div>
                <% else %>
                  <p>
                    <span style="font-size: 20px;">
                      <%= if g[:tiebreaker] == true then '(Tiebreaker - Total Points: ' + @tbreak_pts.to_s + ')' end %>
                    </span>
                  </p>
                <% end %>
              <% end %>
            </div>

            <p>
              <span style="font-size: 10px;">Last Updated At: <%= g[:updated_at].strftime("%m/%d @ %H:%M") %></span>
            </p>

          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>