<%= javascript_include_tag('userGameSelectionAjax.js') %>

<% if @games %>
  <% @games.each_with_index do |g, i| %>

    <div class="row">
      <div class="col s12">
        <div class="card grey lighten-3">
          <div class="card-content black-text">
            
            <div class="row">
              <%= render 'time_and_location', game: g, index: i %>
            </div>

            <!-- TEAM LOGO BUTTON/FORM SELECTION -->
            <div class="row">
              <div class="col s6">
                <% if @current_week.locked == true && !@current_week.finalized && g[:game_started] == false %>
                  <form action="" role="form" class="pick" method="POST">
                    <input type="hidden" value="<%= current_user.id %>" id="user-id">
                    <input type="hidden" value="<%= g[:id] %>" id="<%= g[:id] %>">
                    <input type="hidden" value="<%= g[:away] %>" id="away-game-pick-<%= g[:id] %>">
                    <input type="hidden" value="away" id="away-home">

                    <button type="submit" name="action" class="game-pick-team-logo-btn">
                      <%= image_tag g[:away] + '.png', :class => 'responsive-img' %>
                    </button>
                  </form>
                <% else %>
                  <%= image_tag g[:away] + '.png', :class => 'responsive-img' %>
                <% end %>
              </div>

              <div class="col s6">
                <% if @current_week.locked == true && !@current_week.finalized && g[:game_started] == false %>
                  <form action="" role="form" class="pick" method="POST">
                    <input type="hidden" value="<%= current_user.id %>" id="user-id">
                    <input type="hidden" value="<%= g[:id] %>" id="<%= g[:id] %>">
                    <input type="hidden" value="<%= g[:home] %>" id="home-game-pick-<%= g[:id] %>">
                    <input type="hidden" value="home" id="away-home">

                    <button type="submit" name="action" class="game-pick-team-logo-btn">
                      <%= image_tag g[:home] + '.png', :class => 'responsive-img' %>
                    </button>
                  </form>
                <% else %>
                  <%= image_tag g[:home] + '.png', :class => 'responsive-img' %>
                <% end %>
              </div>
            </div>

            <!-- SPREAD -->
            <div class="row">
              <div class="col s6 offset-s6">
                Spread:
                <strong>
                  <%= g[:spread] > 0 ? "+" : "" %><%= g[:spread] %>
                </strong>
              </div>
            </div>

            <div class="row">
              <%= render 'matchup', game: g %>
            </div>

          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>