<div class="row">
  <div class="col s12">
    <div class="card grey lighten-3">
      <div class="card-content black-text">

        <p><u>Standings Snapshot</u></p>  
        <p><span style="font-size: 14px;">
          <i>At the start of this week...  you stand in <b><%= @user_standing[:place].ordinalize %></b> place with <b><%= @user_standing[:wins] %> wins</b>.</i>
        </span></p>

        <ul>
          <% if @ahead_user != nil %>
            <li style="list-style: none;">
              User <i><%= @ahead_user[:user] %></i> leads you with <b><%= @ahead_user[:wins] %> wins</b>. This week, <i><%= @ahead_user[:user] %></i> has picked <b><%= @ahead_user[:correct_this_week] %></b> correct games!
            </li>
          <% end %>

          <% if @behind_user != nil %>
            <li style="list-style: none;">
              User <i><%= @behind_user[:user] %></i> trails you with <b><%= @behind_user[:wins] %> wins</b>. This week, <i><%= @behind_user[:user] %></i> has picked <b><%= @behind_user[:correct_this_week] %></b> correct games!
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>