<div class="row">
  <div class="col s12" style="text-align:center;">
    <div class="col s4" style="border: 1px black solid;">
      <span class="flow-text">Week: <%= @current_week.week %></span>
    </div>
    <div class="col s4" style="border: 1px black solid;">
      <span class="flow-text">Status: <%= @current_week.locked ? "Closed" : "Open" %></span>
    </div>
    <div class="col s4" style="border: 1px black solid;">
      <span class="flow-text">Game Count: <%= @games.count %></span>
    </div>
  </div>
</div>

<% @games.each do |g| %>
  <div class="row">
    <div class="col s12" style="border: 1px black solid; text-align:center">

      <div class="row">

        <div class="col s3" style="border: 1px black solid;">
          <form action="" role="form" class="pick" method="POST">
            <input type="hidden" value="<%= current_user.id %>" id="user-id">
            <input type="hidden" value="<%= g[:id] %>" id="<%= g[:id] %>">
            <input type="hidden" value="<%= g[:away] %>" id="game-pick">
            <p style="display: inline block; text-align:center">
              <button type="submit"><strong><%= g[:away] %></strong></button>
            </p>
          </form>
        </div>

        <div class="col s3" style="border: 1px black solid;">
          <form action="" role="form" class="pick" method="POST">
            <input type="hidden" value="<%= current_user.id %>" id="user-id">
            <input type="hidden" value="<%= g[:id] %>" id="<%= g[:id] %>">
            <input type="hidden" value="<%= g[:home] %>" id="game-pick">
            <p style="display: inline block; text-align:center">
              <button type="submit"><strong><%= g[:home] %></strong></button>
            </p>
          </form>
        </div>

         <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong><%= g[:spread] %></strong></p>
        </div>
         <div class="col s3" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@</strong> <%= g[:location] %></p>
        </div>
      </div>

      <div class="row">
        <div class="col s4" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><%= g[:date] %></p>
        </div>
        <div class="col s1" style="border: 1px black solid;">
          <p style="display: inline block; text-align:center"><strong>@</strong></p>
        </div>
        <div class="input-field col s2">
          <p style="display: inline block; text-align:center"><%= g[:start_time] %></p>
        </div>
        <div class="input-field col s3">
          <p id="your-pick-<%= g[:id] %>" style="display: inline block; text-align:center; font-weight: bold;">
            Your Pick: <%= @picks[ g[:id] ] %>
          </p>
        </div>
        <div id="pick-saved-<%= g[:id] %>" style="visibility: hidden;">
          <img src="/assets/check.png" height="30" width="30">
        </div>
      </div>

    </div>
  </div>
<% end %>