<div class="row center-align flow-text">
    <div class="col s12">

        <div class="row">
            <!-- 12 cols -->
            <div class="col s12">
                <h5>Week <%= @archived_week.week %> => <%= @weekly_user_win_total %> wins</h5>
            </div>
        </div>

        <div class="row">
            <!-- 12 cols -->
            <div class="col s12">
                <ul id="dropdown3" class="dropdown-content">
                    <% @weeks.each do |wk| %>
                        <li><%= link_to "Week " + wk.week.to_s, site_archived_path(:week => wk.id) %></li>
                    <% end %>
                </ul>
                <a class="btn dropdown-button" href="#!" data-activates="dropdown3">
                    History
                    <i class="mdi-navigation-arrow-drop-down right"></i>
                </a>
            </div>
        </div>

        <div class="row">
            <!-- 12 cols -->
            <% @games.each_with_index do |g, i| %>
                <div class="col s12 <%= if i % 2 == 0 then 'background' end %>">
                    <div class="row">
                        <!-- 12 cols -->
                        <div class="col s12">
                            Game <%= i + 1 %>
                            <span class="alert"><%= if g.tiebreaker == true then '(tiebreaker)' end %></span>
                        </div>

                        <!-- 12 cols -->
                        <div class="col s12">
                            <strong><%= game_day(g[:date]) %> <%= g[:start_time] %></strong>
                        </div>

                        <!-- 12 cols -->
                        <div class="col s12">
                            @ <%= g[:location] %>
                        </div>

                         <!-- 12 cols -->
                         <!-- BREAK -->
                        <div class="col s12"><br/></div>

                        <!-- 12 cols -->
                        <!-- TEAM MATCHUP -->
                        <strong>
                        <div class="col s5">
                            <%= g[:away] %>
                        </div>
                        <div class="col s2">
                            vs.
                        </div>
                        <div class="col s5">
                            <%= g[:home] %>
                        </div>
                        </strong>

                        <!-- 12 cols -->
                        <!-- TEAM LOGOS -->
                        <div class="col s5">
                            <strong><img class="responsive-img" src="/assets/osu.png"></strong>
                        </div>
                        <div class="col s2">
                            &nbsp;
                        </div>
                        <div class="col s5">
                            <strong><img class="responsive-img" src="/assets/michigan.png"></strong>
                        </div>

                        <!-- 12 cols -->
                        <strong>
                        <div class="col s12">
                            Final Score:
                        </div>
                        </strong>

                        <!-- 12 cols -->
                        <div class="col s6">
                            <strong><%= g[:away_pts] %></strong>
                        </div>
                        <div class="col s6">
                            <strong><%= g[:home_pts] %></strong>
                        </div>

                        <!-- 12 cols -->
                        <div class="col s6 offset-s6">
                            Spread:
                            <strong>
                                <%= g[:spread] > 0 ? "+" : "" %><%= g[:spread] %>
                            </strong>
                        </div>

                        <!-- 12 cols -->
                        <!-- BREAK -->
                        <div class="col s12"><br/></div>

                        <!-- 12 cols -->
                        <strong>
                        <div class="col s6">
                            Your Pick: <%= @picks[ g[:id] ][:pick] %>
                        </div>
                        </strong>

                        <div class="col s6">
                            <% if @picks[ g[:id] ][:correct] == nil %>
                                <span class="alert">PUSH</span>
                            <% else %>
                                <% if @picks[ g[:id] ][:correct] == true %>
                                    <img src='/assets/correct.png' height='30' width='30'>
                                <% else %>
                                    <img src='/assets/x.png' height='30' width='30'>
                                <% end %>
                            <% end %>
                        </div>

                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>