<div class="row center-align flow-text">
  
  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content black-text">
          <h5>Week <%= @archived_week.week %> => <%= @weekly_user_win_total %> wins</h5>
          <ul id="dropdown3" class="dropdown-content">
              <% @weeks.each do |wk| %>
                  <li><%= link_to "Week " + wk.week.to_s, site_archived_path(:week => wk.id) %></li>
              <% end %>
          </ul>
          <a class="dropdown-trigger btn" href="#!" data-activates="dropdown3">
              History
              <i class="mdi-navigation-arrow-drop-down right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <% @games.each_with_index do |g, i| %>
  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content black-text">
          
          <div class="row">
            <%= render 'matchup_header', game: g, index: i %>
          </div>

          <div class="row">
              <%= render 'team_logo_form', game: g %>
          </div>

          <div class="row">
            <div class="col s12">
              <b>Your Pick: <%= @picks[ g[:id] ] ? @picks[ g[:id] ][:pick] : 'n/a' %></b>
            </div>
            <div class="col s12" style="font-size: 16px;">
              <i>Field: <%= @picks[ g[:id] ][:field] %></i>
            </div>
            <div class="col s12">
              &nbsp;
            </div>
            
            <div class="col s12">
              <% if g[:winner] == 'push' %>
                <% border = 'grey dotted;' %>
              <% else %>
                <% if g[:winner] == @picks[ g[:id] ][:away_home] %>
                  <% border = 'green dashed' %>
                <% else %>
                  <% border = 'red dashed' %>
                <% end %>
              <% end %>
            </div>

            <div class="col s12"
              style="border: 2px black solid;%>; margin-top: 10px; margin-bottom: 10px;"
            >
              <div class="col s3">
                <strong><%= g[:away_pts] %></strong>
              </div>
              
              <div class="col s6">
                <strong><%= g[:time_remaining] %></strong>
              </div>
              
              <div class="col s3">
                <strong><%= g[:home_pts] %></strong>
              </div>
            </div>

            <div class="col s12">
              <%= render 'spread', game: g %>
            </div>

            <!-- CORRECT PICK DISPLAY -->
            <% if g[:game_finished] == true  %>
              <div class="col s12 archived-right-wrong">
                <% if @picks[ g[:id] ][:correct] == nil %>
                    <span class="alert">PUSH</span>
                <% else %>
                    <% if @picks[ g[:id] ][:correct] == true %>
                        <%= image_tag 'correct.png' %>
                    <% else %>
                        <%= image_tag 'x.png' %>
                    <% end %>
                <% end %>
              </div>
            <% end %>

          </div>



        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>
