<div class="row">
  <div class="col s12" style="text-align:center;">
    <% if current_user.admin == true %>
      <br/>
      <h4>Admin Menu</h4>
      <br/>
      <ul>
          <li><h5><%= link_to "Active Week", admin_active_week_path %></h5></li>
          <li><h5><%= link_to "Lock Active Week", admin_lock_path %></h5></li>
          <li><h5><%= link_to "Add Game Scores", admin_scores_path %></h5></li>
          <li><h5><%= link_to "Start New Week", admin_new_week_path, :method => :post %></h5></li>
          <li><h5><%= link_to "Standings", site_standings_path %></h5></li>
      </ul>
    <% else %>
      <br/>
      <h4>User Menu</h4>
      <br/>
      <ul>
        <li><h5><%= link_to "Current Week", site_current_week_path %></h5></li>
        <li><h5><%= link_to "Standings", site_standings_path %></h5></li>
        <li><h5><%= link_to "History", site_history_path %></h5></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="row"><div class="divider"></div></div>
