<div class="row center-align flow-text">
    <div class="col s12">

        <div class="row">
            <!-- 12 cols -->
            <div class="col s12">
                <h5>Standings</h5>
                <h6>(through Week <%= @week.week %>)</h6>
            </div>
        </div>

        <div class="row">
            <!-- 12 cols -->
            <div class="col s4">
                Username
            </div>

            <div class="col s4">
                Total Wins
            </div>

            <div class="col s4">
                Last Week
            </div>
        </div>

        <div class="row">
            <!-- 12 cols -->
            <% @standings.each_with_index do |st, i| %>
                <% if st.user.admin == false %>
                <div class="col s4 <%= if i % 2 == 0 then 'background' end %>">
                    <%= st.user.username %>
                </div>

                <div class="col s4 <%= if i % 2 == 0 then 'background' end %>">
                    <%= st.wins %>
                </div>

                <div class="col s4 <%= if i % 2 == 0 then 'background' end %>">
                    + <%= @last_weeks_wins[i] %> wins
                </div>
                <% end %>
            <% end %>
        </div>

    </div>
</div>