<% if current_user %>
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Main Menu", root_path %></li>
  <li><%= link_to "Active Week", admin_active_week_path %></li>

  <li class="divider"></li>

  <% if @current_week.locked == false %>
  <li><%= link_to "Lock Active Week", admin_lock_path %></li>
  <% end %>

  <% if @current_week.locked && !@current_week.finalized %>
  <li><%= link_to "Add Game Scores", admin_scores_path %></li>
  <% end %>

  <li class="divider"></li>

  <li><%= link_to "Standings", site_standings_path %></li>
  <li><%= link_to "User Profile", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to "Main Menu", root_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Current Week", site_current_week_path %></li>
  <li><%= link_to "Standings", site_standings_path %></li>
  <li><%= link_to "History", site_history_path %></li>
  <li class="divider"></li>
  <li><%= link_to "User Profile", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>
<% end %>

<nav>
    <div class="nav-wrapper">

        <a href="/" class="brand-logo center"><%= image_tag 'football.png', :class => 'football-img' %>Shepic!</a>

        <ul class="right">
            <!-- Dropdown Trigger -->
            <% if current_user && current_user.admin == true %>
            <li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-activates="dropdown1"><i class="material-icons">menu</i></a></li>
            <% else %>
            <li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-activates="dropdown2"><i class="material-icons">menu</i></a></li>
            <% end %>
        </ul>
    </div>
</nav>





