<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Active Week", admin_active_week_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Lock Active Week" %></li>
  <li><%= link_to "Close Active Week" %></li>
  <li><%= link_to "Start New Week" %></li>
  <li class="divider"></li>
  <li><%= link_to "Standings" %></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to "Current Week", site_current_week_path %></li>
  <li><%= link_to "Standings" %></li>
  <li><%= link_to "History (dropdown)" %></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Shepic!</a>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <% if current_user.admin == true %>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">menu</i></a></li>
      <% else %>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">menu</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>





