<!DOCTYPE html>
<html>
<head>
    <title>Gary's Pick 'Em!</title>

    <%= favicon_link_tag 'football.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

    <header>
        <%= render "layouts/header" %>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
        <%= render "layouts/footer" %>
    </footer>

</body>
</html>
